header{color: crimson}
h1{font-size: 30px; color: black}
h2{font-size: 25px; color: black}
h3{font-size: 20px; color: blue}
header{font-family:monospace; font-size: 40px;}
sidebar{float: left}
body{background-color:beige}